@font-face {
    font-family: 'Mitchaella';
    src: url('fonts/mitchaella-mitchaella-regular-modern-unique-script-400.woff2') format('woff2'),
         url('fonts/mitchaella-mitchaella-regular-modern-unique-script-400.woff') format('woff'),
         url('fonts/mitchaella-mitchaella-regular-modern-unique-script-400.otf') format('opentype'),
         url('fonts/mitchaella-mitchaella-regular-modern-unique-script-400.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background: linear-gradient(288deg, rgba(174, 138, 81, 0.20) 0%, rgba(130, 111, 83, 0.20) 100%);
    font-family: 'Mitchaella', sans-serif;
    font-size: 20px;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

/* HERO SECTION */

.hero {
    background-image: url('images/i-am-yours@4x.png'); /* Replace with your image path */
    background-size: contain; /* Ensures the image is contained within the container */
    background-position: center; /* Centers the image within the container */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    height: 70vh; /* Viewport height */
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    max-width: 100%; /* Ensure the image is responsive */
    padding-bottom: 20px; /* Optional: Space between the button and the bottom */
    margin-bottom: 10rem;
    margin-top: 4rem;
}

.hero-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 85vh;
    text-align: center;
    position: relative;
    max-width: 100%;
    padding-bottom: 20px;
}

.hero h1 {
    font-size: 3em;
    margin: 0;
}

.hero p {
    font-size: 1.5em;
    margin: 10px 0;
}

.button-container {
    display: flex; /* Enables flexbox layout */
    justify-content: center; /* Centers the buttons horizontally */
    gap: 50px; /* Adds space between the buttons */
    font-size: 20px;
    letter-spacing: 2px;
}

.info-button, .promo-button {
    width: 150px; /* Setting a fixed width */
    padding: 10px 0;
    background-color: #56767E; /* Button background color */
    color: white; /* Button text color */
    text-decoration: none;
    border-radius: 5px;
    text-align: center; /* Center text within the button */
    margin-top: 20px;
    transition: background-color 0.3s;
}

.info-button:hover, .promo-button:hover {
    background-color: #5798A8; /* Button hover color */
}

.wrapper {
    max-width: 1200px; /* Sets a maximum width for the wrapper */
    margin: 0 auto; /* Centers the wrapper horizontally */
    padding: 20px; /* Adds padding inside the wrapper */
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
    margin-top: 6.5rem;
}

.floral {
    margin-top: auto; /* Ensures the floral image is at the bottom */
}

.floral img {
    max-width: 100%; /* Ensure the image is responsive */
    height: auto;
}

/* FEATURED SECTION */

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    gap: 10px; /* Space between columns */
    width: 100%; /* Full width */
}

.image-grid img {
    width: 100%; /* Image fills the grid cell */
    height: auto; /* Maintain aspect ratio */
}

/* INTRO SECTION */

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Align items vertically */
    text-align: center; /* Center text within the div */
    width: 100%; /* Full width */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.intro img {
    max-width: 100%; /* Ensure the image is responsive */
    height: auto;
    margin-top: 1rem;
}

#promo {
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    margin: 4rem 0 4rem 0;
}

.container {
    max-width: 75%; /* Sets the maximum width to 75% of the parent container */
    width: 100%; /* Allows the container to shrink to fit the image */
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
}

.container img {
    width: 100%; /* Ensures the image fills the parent container */
    height: auto; /* Maintains the aspect ratio */
}

.spacer { 
    flex-grow: 1; /* Takes up remaining space, pushing the button down */ 
}

.text-wrapper {
    padding: 40px 60px 40px 60px; /* Adds space inside the container */
    margin: 60px auto; /* Centers the container and adds space outside */
    max-width: 85%; /* Sets a maximum width for the container */
    background-color: #56767E; /* Sets a background color */
    border: 1px solid #ddd; /* Adds a border around the container */
    border-radius: 8px; /* Rounds the corners of the container */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow for depth */
    text-align: center; /* Centers the text inside the container */
    color: white;
    font-size: 30px;
    letter-spacing: 2px;
}

/* FOOTER */

.site-footer {
    background: linear-gradient(288deg, #465254 0.78%, #4F7880 97.95%);
    /* background-color: #475153; Set the background color */
    color: #fff; /* Set the text color */
    text-align: center; /* Center the text */
    padding: 20px; /* Add padding for spacing */
    position: relative; /* Allows for positioning adjustments if needed */
    bottom: 0; /* Positions the footer at the bottom */
    width: 100%; /* Ensures the footer spans the full width of the page */
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
}

/* Styles for mobile devices */
@media (max-width: 768px) {
    .hero {
        height: 35vh;
        margin-bottom: 20rem;
    }
    
    .hero h1 {
        font-size: 2em; /* Smaller font size for mobile */
    }

    .hero p {
        font-size: 1.2em; /* Adjust paragraph font size */
    }

    .info-button, .promo-button {
        margin-top: 10px; /* Adjust margin for spacing */
        width: 145px;
        padding: 15px 0;
    }

    .button-container {
        flex-direction: column; /* Stack buttons vertically */
        gap: 30px;
    }

    .text-wrapper {
        padding: 20px; /* Reduce padding for mobile */
        margin: 80px auto;
    }

    .wrapper {
        padding: 10px; /* Reduce padding for mobile */
        margin-top: -2.5rem;
    }

    #promo {
        margin: 0 0 4rem 0;
    }

    .container {
        max-width: 100%;
    }
}