body {
    background: linear-gradient(288deg, rgba(174, 138, 81, 0.20) 0%, rgba(130, 111, 83, 0.20) 100%);
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.hero {
    background-image: url('images/i-am-yours@4x.png'); /* Replace with your image path */
    background-size: contain; /* Ensures the image covers the container */
    background-position: center; /* Centers the image within the container */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    height: 100vh; /* Full viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.hero-content {
    position: relative;
    z-index: 2;
}

.hero h1 {
    font-size: 3em;
    margin: 0;
}

.hero p {
    font-size: 1.5em;
    margin: 10px 0;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Align items vertically */
    text-align: center; /* Center text within the div */
    width: 100%; /* Full width */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.intro img {
    max-width: 100%; /* Ensure the image is responsive */
    height: auto;
}

.text-wrapper {
    padding: 20px; /* Adds space inside the container */
    margin: 20px auto; /* Centers the container and adds space outside */
    max-width: 75%; /* Sets a maximum width for the container */
    background-color: ##56767E; /* Sets a background color */
    border: 1px solid #ddd; /* Adds a border around the container */
    border-radius: 8px; /* Rounds the corners of the container */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow for depth */
    text-align: center; /* Centers the text inside the container */
    color: white;
}